services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - type: bind
        source: #add source directory
        target: /data
    environment:
      - LOG_LEVEL=DEBUG
